[submodule "wire-pod"]
	path = wire-pod
	url = https://github.com/rodolphemds/wire-pod.git
	branch = personal
[submodule "vector-wirepod-python-sdk"]
	path = vector-wirepod-python-sdk
	url = https://github.com/rodolphemds/vector-wirepod-python-sdk.git
[submodule "available-anki-vector-documentation"]
	path = available-anki-vector-documentation
	url = https://github.com/rodolphemds/available-anki-vector-documentation.git
[submodule "vectorOS-websetup"]
	path = vectorOS-websetup
	url = https://github.com/rodolphemds/vector-websetup.git
